/* 追加設定 */
#blog-header {
    background-image: linear-gradient(135deg, rgba(253, 86, 140, 1), rgba(255, 132, 176, 1));
}
.block {
    margin-bottom: 35px;
}
.myButtonWrapper {
    display: flex;
    justify-content: center;
}
.myButton {
    background-image: linear-gradient(135deg, rgba(253, 86, 140, 1), rgba(255, 132, 176, 1));
    color: white;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}
.myButton>a {
    display: block;
    font-size: 1.15em;
    padding: 0.8em 1.4em;
    color: white !important;
    text-decoration: none !important;
}
.blog_entry_body h2 {
    border-left: 3px solid #fd568c;
    padding-left: 6px;
}
.block a, .block a:visited {
    color: inherit;
}
.imgWrapper {
    display: flex;
    justify-content: center;
}

.header_logo_area {
    width: 100%;
}

.thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 30px 0;
}
.thumbs>* {
    width: 25%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}
img.thumb {
    width: 100%;
    padding: 0 0 !important;
}
.affiNotice {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.infoTable {
    display: flex;
    flex-direction: column;
    margin: 15px 0 25px 0;
    align-items: center;
}
.infoTable .row {
    display: flex;
    width: 95%;
    justify-content: center;
    border-bottom: 1px solid pink;
    padding: 0.5em 0;
}
.row .key {
    font-weight: bold;
}
.row .key, .row .value {
    width: 40%;
    text-align: center;
}
.infoTable .row:last-child {
    border-bottom: 0;
}

h2 {
    border-bottom: 3px solid #fd568c !important;
}

/* セール */
*:has(>.sale-item) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.saleInfo * {
    line-height: normal;
    text-decoration: none !important;
}
.saleInfo h2 {
    width: 100%;
}
.sale-item {
    box-sizing: border-box;
    max-width: 30%;
    padding: 10px;
}
.catchphrase {
    color: crimson;
    font-size: 1.2em;
    margin: 5px 0;
    word-break: break-all;
}
.sale-title {
    color: #333;
}


/* スマホ */
@media (max-width: 767px) { 
    .myContent {
        margin-bottom: 150px;
    }
    .blog_entry_body h2 {
        border-bottom: 0px solid #fd568c !important;
        border-left: 3px solid #fd568c;
        padding-left: 5px;
    }
    .thumbs>* {
        width: 49%;
    }

    .sale-item {
        max-width: 50%;
        padding: 5px;
    }
}
