.myLinkWrapper {
  display: flex;
  margin: 40px 0;
}
.summary {
  margin: 30px 0;
}
a.link.myAnimation {
    display: inline-block;
    padding: 7px 15px;
    background: white;
    color: #ee2737;
    font-weight: bold;
    margin: 0 auto;
    animation: link 1.5s ease infinite;
    border: 3px solid #ee2737;
    text-decoration: underline;
    transition: 0.15s ease;
    font-size: 1.2em;
}
a.link.myAnimation:hover {
    color: white;
    background: #ee2737;
    text-decoration: none;
}

@keyframes link {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.imgWrapper {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.myContent h1, .myContent h2 {
    border-left: 5px solid #e31010;
    padding-left: 10px;
    color: #000;
    margin: 25px 0;
}

.myContent {
    margin-bottom: 100px;
}
.myContent img {
    min-width: 100%;
}


.work {
    border-bottom: 1px solid gray;
    padding: 10px;
    display: flex;
}
.workLeft {
    flex: 3;
}
.workRight {
    padding: 40px 0 0 30px;
    flex: 7;
}
.rank {
    font-size: 27px;
    font-weight: bold;
}
